body, html {
    margin: 0;
    padding: 0;
    height: 98%;
}

.pai {
    position: relative;
    width: 100%;
    height: 100%;
}

.filho {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: quicar 4s linear forwards, bounce 0.8s ease-in-out 4;
}

@keyframes quicar {
    0%{
        left: 0;
    }
    100%{
        left: calc(100% - 50px);
    }
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-100px); 
    }
  }
